$font-family-sans-serif: Open Sans;

@import "~bootstrap/scss/bootstrap";

a {
    text-decoration: none;
}

.download-platform-logo {
    width: 22px;
    height: 22px;
}

.download-disclaimer {
    font-size: .85em;
}

.breadcrumb {
    background: var(--bs-tertiary-bg);
    padding: $spacer;
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: ($spacer * .5);
}

.wiki-sidebar-section-title {
    text-transform: uppercase;
    font-size: .95em;
    letter-spacing: .1em;
    margin-bottom: ($spacer * .5);
    margin-top: ($spacer * .5);
}

.wiki-sidebar-section-title:first-child {
    margin-top: 0;
}

img.wiki-icon {
    width: 32px;
    margin-top: -5px;
}

img.wiki-sidebar-icon {
    width: 30px;
}

img.wiki-tooltip-icon {
    width: 32px;
    height: 32px;
}

img.home-icon {
    width: 48px;
    height: 48px;
}

.main-nav {
    font-size: 0.8rem;
}

.sidebar {
    display: none;
}

.wiki-heading-link {
    font-size: 15px;
    position: relative;
    top: -1px;
    visibility: hidden;
}

#content-accordion .accordion-body a {
    text-decoration: none;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
